body {
    background-image: url("../resources/back.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0px;
}

.title {
    align-content: center;
    color: rgb(84, 100, 107);
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin: 30pt;
}

.timetag {
    color: rgb(63, 88, 88);
    margin-bottom: 10pt;
}

.box {
    background-color: rgba(36, 39, 40, 0.52);
    padding: 20pt;
    margin: 0 auto;
    margin-bottom: 10pt;
    max-width: 60%;
    align-self: center;
    align-content: center;
    color: rgb(24, 34, 34);
    box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.3);
    left: -25px;
    right: 0;
    top: -25px;
    bottom: 0;
    border-radius: 10px;
    backdrop-filter: blur(20px);
}

.content {
    margin-bottom: 10px;
    text-indent: 2em;
}

.guideBar  {
    background-color: rgba(11, 11, 12, 0.594);
    list-style-type: none;
    position: fixed;
    min-width: 100%;
    color: aqua;
    padding: 0px;
    top: -16px;
    left: 0;
    backdrop-filter: blur(6px);
}

.guideBar li {
    display: inline;
    color: rgb(255, 255, 255);
    margin: 0px;
    padding: 5px;
    font-size: medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.guideBar li:hover {
    display: inline;
    cursor: pointer;
    color: antiquewhite;
    margin: 0px;
    padding: 3px;
    font-size: small;
    background-color: rgba(104, 99, 99, 0.792);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.guideBar li:active {
    display: inline;
    cursor: pointer;
    color: antiquewhite;
    margin: 0px;
    padding: 3px;
    background-color: rgba(70, 67, 67, 0.549);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}